.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.page {
    display: none;
}

.page:first-child {
    display: block;
}

h2 {
    margin-top: 0;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

button.prev {
    background-color: #f44336;
}

button.prev:hover {
    background-color: #f44336;
}

input[type="file"] {
    margin-top: 5px;
}